/ footer
.footer-bg
  .wrap
    .footer
      .box1
        %h4.btm What We Do
        %p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. ions from the 1914 below for those  by H. Rackham
        %p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those The standard chunk of Lorem Ipsum used since the 1500s is reproduced reproduced
      .box1
        %h4.btm Categories
        %nav
          %ul
            %li
              %a{:href => "#"} The standard chunk of Lorem Ipsum used since
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sitth
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sit
            %li
              %a{:href => "#"} The standard chunk of Lorem Ipsum used since
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sit
            %li
              %a{:href => "#"} The standard chunk of Lorem Ipsum used since
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sit
      .box1
        %h4.btm Get in touch
        .box1_address
          %p 500 Lorem Ipsum Dolor Sit,
          %p 22-56-2-9 Sit Amet, Lorem,
          %p USA
          %p Phone:(00) 222 666 444
          %p Fax: (000) 000 00 00 0
          %p
            Email:
            %a{:href => "mailto:info@gmail.com"} info[at]mycompany.com
          %p
            Follow on:
            = succeed "," do
              %a{:href => "#"} Facebook
            %a{:href => "#"} Twitter
      .clear
/ footer1
.ftr-bg
  .wrap
    .footer
      .copy
        %p.w3-link
          © 2013 Public-Library. All Rights Reserved | Design by 
          %a{:href => "http://w3layouts.com/"} W3Layouts
      .clear
