/ footer
.footer-bg
  .wrap
    .footer
      .box1
        %h4.btm What We Do
        %p This is test website which made with RubyOnRails and MongoDb
        %p All content for this website is provided just as example. If you want to get some of these books, please buy it in official shop
      .box1
        %h4.btm Categories
        %nav
          %ul
            %li
              %a{:href => "#"} The standard chunk of Lorem Ipsum used since
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sitth
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sit
            %li
              %a{:href => "#"} The standard chunk of Lorem Ipsum used since
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sit
            %li
              %a{:href => "#"} The standard chunk of Lorem Ipsum used since
            %li
              %a{:href => "#"} Duis a augue ac libero euismod viverra sit
      .box1
        %h4.btm Get in touch
        .box1_address
          %p 500 Lorem Ipsum Dolor Sit,
          %p 22-56-2-9 Sit Amet, Lorem,
          %p UA
          %p Phone:(00) 123 456 789
          %p Fax: (000) 000 00 00 0
          %p
            Email:
            %a{:href => "example@gmail.com"} example@gmail.com
          %p
            Follow on:
            = succeed "" do
              %a{:href => "https://github.com/Capitalsav"} Github
      .clear
/ footer1
.ftr-bg
  .wrap
    .footer
      .copy
        %p.w3-link
          © 2013 Mongoid-Library. All Rights Reserved  Developed by Anton Storchak (capitalsav) | Design by 
          %a{:href => "http://w3layouts.com/"} W3Layouts
      .clear
